[submodule "assignments/program3"]
	path = assignments/program3/program3
	url = git@github.com:Binghamton-CS210-Fall23/pa3-bcchen52.git
[submodule "labs/lab07/lab07-bcchen52"]
	path = labs/lab07/lab07-bcchen52
	url = git@github.com:Binghamton-CS210-Fall23/lab07-bcchen52.git
[submodule "labs/lab06/lab-6-updated-bcchen52"]
	path = labs/lab06/lab-6-updated-bcchen52
	url = git@github.com:Binghamton-CS210-Fall23/lab-6-updated-bcchen52.git
[submodule "labs/lab08/lab-8-bcchen52"]
	path = labs/lab08/lab-8-bcchen52
	url = git@github.com:Binghamton-CS210-Fall23/lab-8-bcchen52.git
[submodule "assignments/program4/pa4-bcchen52"]
	path = assignments/program4/pa4-bcchen52
	url = git@github.com:Binghamton-CS210-Fall23/pa4-bcchen52.git
[submodule "labs/lab09/lab-9-bcchen52"]
	path = labs/lab09/lab-9-bcchen52
	url = git@github.com:Binghamton-CS210-Fall23/lab-9-bcchen52.git

